body {
    margin: 0;
    padding: 40px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Poppins', sans-serif;
    background-color: #151515;
    color: white;
}
